<div class="booking-menu-wrapper wrapper">
  <div class="booking-header container">
    <ul class="tabs flex">
      <li class="tab my-bookings-head active">My bookings</li>
      <li class="tab bookings-as-owner-head">Bookings for my experiences</li>
    </ul>
  </div>
</div>

<div class="booking-wrapper wrapper">
  <div class="booking-cards container">

    <div class="row">

      <div class="my-bookings bookings">
        <% @mybookings.each do |booking| %>
          <div class="booking flex">
            <div class="booking-image" style="background-image: url('<%= cl_image_path booking.experience.photo %>');"></div>
            <div class="booking-user block">
              <h3><%= booking.experience.title %></h3>
              <p><%= booking.experience.address %></p>
              <div class="experience-infos flex">
                <div class="infos">
                  <i class="far fa-clock"></i>
                  <p>DURATION</p>
                  <p><%= booking.experience.duration %></p>
                </div>
                <div class="infos ">
                  <i class="fas fa-euro-sign"></i>
                  <p>PRICE / PERS.</p>
                  <p><%= booking.experience.price %></p>
                </div>
                <div class="infos">
                  <i class="far fa-user"></i>
                  <p>MIN PEOPLE</p>
                  <p><%= booking.experience.capacity_min %></p>
                </div>
                <div class="infos">
                  <i class="far fa-calendar-alt"></i>
                  <p>VALIDITY</p>
                  <p><%= booking.experience.validity_date %></p>
                </div>
              </div>
            </div>
            <div class="booking-infos-1 block">
              <div class="booking-status pending" data-booking-id="<%= booking.id %>"><%= booking.status %></div>
              <br>
              <p> <i class="fas fa-user"></i>  <%= booking.number_of_participants %></p>
            </div>
            <div class="review-secttion">
              <%= render 'reviews/form', booking: booking, review: @review %>
            </div>
          </div>

        <% end %>
      </div>

    </div>

    <div class="row">
      <div class="bookings-as-owner bookings hidden">
        <% @bookings_as_owner.each do |booking| %>
        <div class="booking flex">
          <div class="booking-image" style="background-image: url('<%= cl_image_path booking.experience.photo %>');"></div>
          <div class="booking-user block">
            <h3><%= booking.experience.title %></h3>
            <p>Contact: <%= booking.user.first_name %> <%= booking.user.last_name %></p>
            <p>Company: <%= booking.user.company %></p>
            <div class="booking-infos flex">
              <div class="infos flex">
                <i class="far fa-calendar-alt"></i>
                <p><%= booking.date %></p>
              </div>
              <div class="infos flex">
                <i class="far fa-user"></i>
                <p><%= booking.number_of_participants %></p>
              </div>
            </div>
          </div>
          <div class="status block">
            <%= render "bookings/status", booking: booking %>
            <% if booking.status == "pending" %>
              <div class="action block">
                <div>
                  <%= link_to accept_booking_path(booking), method: :put, remote: true do %>
                  <button id="accept" data-id="<%= booking.id %>" type="button" class="btn btn-danger">Accept</button>
                  <% end %>
                </div>
                <div>
                <%= link_to decline_booking_path(booking), method: :put, remote: true do %>
                <button id="decline" data-id="<%= booking.id %>" type="button" class="btn btn-danger">Decline</button>
                <% end %>
                </div>
              </div>
            <% else %>
            <% end %>
          </div>
        </div>
        <% end %>
      </div>

    </div>

  </div>
</div>
