<div class="container-cards">
  <div class="row">
  
    <% @experiences.each do |experience| %>
      
        <div class="col-xs-12 col-sm-4">
          <div class="card">
            <div class="card__image" style="background-image: url('<%= cl_image_path experience.photo %>');"></div>
            <div class="card__player">
              <div id="player"></div>
            </div>
            <div class="card__info">
              <h2 class="title"><%= experience.title %></h2>
              <p class="genre"><%= experience.category %></p>
              
              <div class="desc">
               
                <div class="rating">
                   <p class="meta"><%= experience.category %> â— <%= experience.duration %></p>
                  <div class="stars">
                    <i class="material-icons">star_rate</i>
                    <i class="material-icons">star_rate</i>
                    <i class="material-icons">star_rate</i>
                    <i class="material-icons">star_rate</i>
                    <i class="material-icons">star_rate</i>
                    </div>
                </div>
                <p><%= experience.description %></p>
                <br><br></div>
               <a class="button-cards" href="#">&#9658; Book Now</a>
            </div>
          </div>
          </div>
    <% end %>
  </div>
</div>

    