<div class= "container new-form">
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="images/logo.png"/>
  <link rel="stylesheet" type="text/scss" href="pages/_form_new_experiences.scss">

<%= simple_form_for [@experience] do |f| %>
<div class="container-contact100">
    <div class="wrap-contact100">
      <form class="contact100-form validate-form">
        <span class="contact100-form-title">
          Submit a new experience
        </span>
    <div class="wrap-input100 validate-input" data-validate="Title is required">
          <span class="label-input100" > <%= f.input :title %> </span>
    </div>
    <div class="wrap-input100 validate-input" data-validate = "Description is required">
          <span class="label-input100"> <%= f.input :description %></span>
          <span class="focus-input100"></span>
        </div>
    <div class="wrap-input100 validate-input">
          <span class="label-input100"> <%= f.input :address %></span>
          <span class="focus-input100"></span>
    </div>
        <div class="wrap-input100 input100-select">
          <span class="label-input100"> <%= f.input :category %></span>
          <div>
          </div>
          <span class="focus-input100"></span>
        </div>
        <div class="wrap-input100 validate-input">
          <span class="label-input100"> <%= f.input :price %></span>
          <span class="focus-input100"></span>
    </div>
        <span class="label-input100"><%= f.input :duration %></span>
        <span class="label-input100"><%= f.input :capacity_min %></span>
        <span class="label-input100"><%= f.input :validity_date, as: :string, required: false, input_html: {class: "datepicker"} %></span>
        <span class="label-input100"><%= f.input :photo %></span>
        <span class="label-input100"><%= f.input :photo_cache, as: :hidden %></span>
        <div class="container-contact100-form-btn">
          <div class="wrap-contact100-form-btn">
            <button class="contact100-form-btn">
              <%= f.submit %>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  </div>
<% end %>
