<h1><%= @experience.title %></h1>
<p><%= @experience.description %></p>

<div class="show-image" style="background-image: url('<%= @experience.picture %>');"></div>
<p><%= @experience.address %></p>
<p><%= @experience.price %></p>

<%= cl_image_tag @experience.photo, height: 300, width: 400, crop: :fill %>

<%= image_tag "mock_map" %>
