<div id="show-banner">
  <div id="show-image"><%= cl_image_tag @experience.photo, effect: "brightness:30", width: 1396, height: 502, gravity: :center, crop: :fill; %></div>
</div>

<div class="container show-container">
  <div class="row">

    <div class="col-lg-8">

      <div class="info-card">
        <div class="info-title">
          <h1><%= @experience.title %></h1>
          <p><%= @experience.address %></p>
        </div>
        <hr>
        <div class="experience-reviews flex">
          <i class="fas fa-star"></i>
          <p><%= "#{@experience.bookings.count} REVIEW".pluralize(@experience.bookings.count) %></p>
        </div>
        <hr>

        <div class="experience-infos flex">
          <div class="infos">
            <i class="far fa-clock"></i>
            <p>DURATION</p>
            <p><%= @experience.duration %></p>
          </div>
          <div class="infos">
            <i class="fas fa-euro-sign"></i>
            <p>PRICE / PERS.</p>
            <p><%= @experience.price %></p>
          </div>
          <div class="infos">
            <i class="far fa-user"></i>
            <p>MIN PEOPLE</p>
            <p><%= @experience.capacity_min %></p>
          </div>
          <div class="infos">
            <i class="far fa-calendar-alt"></i>
            <p>VALIDITY</p>
            <p><%= @experience.validity_date %></p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="booking-form form-group">
        <div class="form-title">
          <h2>Book now</h2>
        </div>
        <div class="form-body">
          <%= simple_form_for [@experience, @booking] do |f| %>
            <%= f.input :date, as: :string, required: false, input_html: {class: "datepicker"} %>
            <%= f.input :number_of_participants %>
            <%= f.submit "Proceed to payment", class: "btn btn-primary button-show" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="description">
    <h2>About : <%= @experience.title.capitalize %></h2>
    <div class="description-content">
      <p><%= @experience.description %></p>
    </div>
  </div>

<br>
<br>
<br>

  <div
  id="map"
  style="width: 100%;
  height: 600px;top: auto !important;"
  data-markers="<%= @marker.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

  <% if @experience.bookings.any?{|a| a.review != ""} %>
    <div class="comments">
      <h2> <%= "Review".pluralize(@experience.bookings.count) %></h2>
      <% @experience.bookings.each do |booking| %>
      <% if %>
        <div class="comments-content">
          <div class="comment-content-header">
            <div class="comment-content-header-name">
              <p><%= "#{booking.user.first_name} #{booking.user.last_name}" %></p>
            </div>
            <div class="rating">
              <div class="stars">
                <% booking.review.rating.times do |star| %>
                <i class="fas fa-star stars" style="color: #ffd33a;"></i>
                <% end %>
              </div>
            </div>
          </div>
          <p><%= booking.review.description %></p>
        </div>
      <% end %>
      <% end %>
    </div>
  <% end %>
</div>
